/* Reset e estilos gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    background-color: rgb(255, 251, 0);
    color: red;
line-height: 1.6;    
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}
/* Cabeçalho */
header {
    background: linear-gradient(135,blue, rgb(30, 255, 0));
    color: rgb(0, 0, 0);
    text-align: 150px;
    padding: 2rem 0;
    position: relative;
}
.profile-img{
    width: 300px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 50px solid rgb(0, 38, 255);
    margin-bottom: 1rem;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}